[flake8]
ignore =
    # Indent
    E127, E203, E124, E121, E241, E128, E221,
    # Multiple imports
    E401,
    # Line too long
    E501,
    # Multiple statements
    E701,
    # St.
    E702,
    E126,
    # import *
    F403,
    # Click decorator
    F405,
    # Unused _ variable
    F841,
